<div class="main-box">
    <div class="box about-box">
        <h2>About</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum aut reprehenderit explicabo voluptate vitae natus rem quam, nihil quia asperiores officia labore, nisi aperiam quidem dignissimos alias libero fugiat eligendi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Laudantium voluptatum sapiente velit, reiciendis placeat corrupti maiores amet doloremque laborum vel a fugiat veniam iusto omnis voluptate sit repudiandae maxime perspiciatis? Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Modi atque rerum fugiat voluptas. Ut dicta laudantium voluptas accusamus non suscipit aut laboriosam quod, incidunt blanditiis nesciunt dignissimos assumenda dolore porro. Lorem ipsum dolor sit, amet consectetur adipisicing
            elit. Repellat, natus commodi! Nisi animi eos culpa delectus inventore nulla excepturi magnam asperiores? Consectetur inventore obcaecati porro nam molestias ipsa cupiditate facilis!
        </p>
    </div>
</div>